body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   background: url('images/UserBackground.jpg') no-repeat center center fixed;
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-container {
   background: rgba(255, 255, 255, 0.1);
   border-radius: 20px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
   padding: 30px;
   width: 350px;
   text-align: center;
   backdrop-filter: blur(20px);
   border: 2px solid white;
}

.container {
   background: rgba(255, 255, 255, 0.1);
   border-radius: 20px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
   padding: 30px;
   width: 350px;
   text-align: center;
   backdrop-filter: blur(20px);
   border: 2px solid white;
}

.profile img {
   width: 100px;
   height: 100px; 
   border-radius: 50%; 
   margin-bottom: 15px;
   border: 2px solid white;
}

.profile h1 {
   color: white; 
   font-size: 22px; 
   margin-bottom: 15px; 
}

.btn, .back-btn {
   background: #fff;
   border: none;
   padding: 10px 20px;
   color: #a000c8;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   width: 100%;
   margin-bottom: 20px;
}

.btn:hover, .back-btn:hover {
   background: #e1d9d1;
}

.profile p {
   color: white;
   font-weight: bold; 
   font-size: 14px;
}

.profile p a {
   color: #a000c8;
   text-decoration: none;
   font-weight: bold; 
   font-size: 14px;
}

.profile p a:hover {
   color: #fff;
   font-weight: bold;
   font-size: 14px;
}

.form-container .message {
   background: rgba(255, 255, 255, 0.2);
   color: rgb(255, 0, 0);
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 5px;
   font-size: 14px;
}

@media (max-width: 768px) {
   .form-container, .container {
       width: 90%;
   }
}

.update-profile {
   background: rgba(255, 255, 255, 0.1); 
   border-radius: 20px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
   padding: 50px; 
   width: 80%; 
   max-width: 900px; 
   margin: 50px auto; 
   backdrop-filter: blur(20px);
   text-align: center; 
   border: 2px solid white;
}

.update-profile img {
   width: 100px; 
   height: 100px; 
   border-radius: 50%; 
   margin-bottom: 15px;
   border: 2px solid white; 
}

.update-profile .inputBox {
   margin-bottom: 20px;
}

.update-profile .inputBox span {
   color: white; 
   display: block;
   margin-bottom: 5px;
}

.update-profile .inputBox .box {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   color: white;
   border: none;
   border-bottom: 2px solid white;
   outline: none;
   background: transparent;
   transition: 0.3s;
}

.update-profile .inputBox .box:focus {
   border-bottom: 2px solid #a000c8; 
}

.update-profile .btn {
   background: #fff;
   border: none;
   padding: 10px 20px;
   color: #a000c8;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   width: 100%;
   margin-bottom: 20px;
}

.update-profile .btn:hover {
   background: #e1d9d1;
}

.update-profile .back-btn {
   background: #fff;
   border: none;
   padding: 10px 20px;
   color: #a000c8;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   width: 100%;
}

.update-profile .back-btn:hover {
   background: #e1d9d1;
}

.update-profile .message {
   background: rgba(255, 255, 255, 0.2);
   color: rgb(255, 0, 0);
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 5px;
   font-size: 14px;
}

@media (max-width: 768px) {
   .update-profile {
       width: 90%;
   }
}

.box::placeholder {
   color: white; 
   font-weight: bold; 
   font-size: 14px;
}

.flex {
   display: flex;
   justify-content: space-between; 
}

.inputBox {
   width: 48%; 
   margin-right: 20px; 
}

.inputBox:last-child {
   margin-right: 0; 
}

.inputBox span {
   display: block;
   margin-bottom: 10px; 
   font-weight: bold; 
}

.inputBox input {
   width: 100%; 
   margin-bottom: 20px; 
   padding: 10px; 
}